.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@media only screen and (max-width: 300) {
  .lowerBtn{
    margin-top: 1em;
  } 
}
